.navbar {
    overflow: hidden;
    background-color: #f9ca2f; /* warna background */
    padding: 10px;
}

.navbar img {
    float: left;
    height: 40px; /* tinggi logo */
    margin-right: 20px;
}

.navbar h1 {
    float: left;
    margin: 0;
    font-size: 1.5em;
    line-height: 40px; /* Sesuaikan tinggi navbar */
}

.navbar a {
    float: right;
    display: block;
    color: #000; /* Warna teks */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #edb302; /* Warna abu-abu saat hover */
    color: black; /* Warna teks saat hover */
}

/* Style untuk dropdown menu */
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #000; /* Warna teks */
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #edb302; /* Warna abu-abu saat hover */
    color: black; /* Warna teks saat hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black; /* Warna teks */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f9ca2f; /* Warna abu-abu saat hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 0 auto;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="file"] {
    border: none;
}

input[type="file"]::file-selector-button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #45a049;
}

/* Display Data */
.data-container h2 {
    text-align: center;
}

.data-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #f9ca2f;
    border-radius: 5px;
    background-color: #f9ca2f7a;
}

.data-label {
    display: inline-table;
    width: 150px; /* Atur lebar tetap untuk label */
    font-weight: bold; /* Membuat label lebih tebal */
}


.data-value {
    margin-bottom: 10px;
}